@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Sedan+SC&display=swap");

/* NAV E LOGO IN COMUNE PER LE PAGINE HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Reddit Sans", sans-serif;
  background-color: #ccc;
}

nav {
  position: fixed;
  background-color: black;
  color: white;
  height: 90px;
}

.nav,
a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 25px;
}

.logo {
  height: 50px;
}

/* STILE PER LA HERO E UN BACKGROUND IMG */

.hero {
  background-image: url("../assets/5894082-corporate-forme-geometriche-sfondo-colorato-a-banner-usati-poster-carte-sito-web-brochure-gratuito-vettoriale.jpg");
  background-size: cover;
}

.hero h1 {
  color: rgb(10, 98, 245);
}

.hero a {
  background-color: rgb(10, 98, 245);
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  color: white;
}

.hero,
a:hoover {
  opacity: 0.8;
}

/* SEZIONE CARD H3*/

section h3 {
  text-align: center;
  color: rgb(10, 98, 245);
  margin-left: 30px;
}

/* MODIFICHE PER IL FOOTER, SPAZIATURE E COLORI */

footer {
  background-color: black;
  color: #0056b3;
  margin-top: 150px;
}

/* ----------------- CSS PER LA PAG BACKOFFICE -------------------- */

/* STYLE PER IL FORM */

/* H1 FORM  */
.titolo-add {
  color: rgb(10, 98, 245);
  text-align: center;
  margin-top: 30px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

form {
  width: 50rem;
  background-color: rgb(10, 98, 245);
  font-size: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

form input label {
  width: 9px;
  border: 1px solid rgb(184, 181, 181);
}

form input label div {
  width: 9px;
}

.card-img-top {
  min-width: 100px;
  max-width: 286px;
}

#container-items {
  display: flex;
}

/* BACKOFFICE, MODIFICHE PER LA LISTA SOTTO IL FORM */

/* inserisco una grandezza fissa per le immagini dei prodotti */
.img-list-backoffice {
    width: 60px; 
    height: 60px; 
    padding-left: 10px;
}

.item-list {
  list-style: none; 
  padding: 0; 
}

.item {
  display: flex;
  align-items: center; 
  border-bottom: 1px solid #ccc; 
  padding: 10px 0;
  justify-content: space-between;
  background-color: aqua; 
}

.item-actions {
  display: flex;
  gap: 10px;
}

.price-item-backoffice {
  color:rgb(239 87 77);
}

h3 ,.addedd {
  color: #0056b3;
  margin: 10px 0;
}


/* ----------------- CSS PER LA PAG INDEX -------------------- */

/* Stile per le card della home, aggiungo le trazizioni in hoover, aumentando la grandezza con scale*/

.card {
  width: 16rem;
  margin-bottom: 32px;
  margin: 0 20px;
  border: 1px solid #ccc;
  background-color: #bababa;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Stile per l'immagine della card modifiche titolo, testo ecc */
.card-img-top {
  height: 300px;
  object-fit: contain;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

/* Effetto hover per il pulsante "Details" */
.card-body button:hover {
  background-color: #0056b3;
}

/* Effetto hover per il link "edit/delete" */
.card-body a.button-card-home:hover {
  background-color: #495057;
}

/* MODIFICHE PER I BOTTONI DELLA HOME INDEX */

.button-card-home {
  color: black;
  font-size: 16px;
  margin-left: 0;
  padding: 0 5px;
}

button {
  border-radius: 10px;
  background-color: red;
}

.button-details {
  background-color: aqua;
  padding: 0 5px;
  margin-right: 50px;
}

.body-card-backoffice {
  background-color: aqua;
}

.container-card-index {
  margin-top: 130px;
}

/* ----------------- CSS PER LA PAG DETAILS -------------------- */

/* MODIFICHE PER LA PAG DETAIL, BOTTONE HOME */

#detailCard{
  display: flex;
  justify-content: center;
}

.button-detail-home {
  background-color: #0056b3;
  padding-right: 15px;
  color: white;
}


